# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb_out.ipynb
__pycache__/
*.pyc

# VS Code
.vscode/

# Data
data/raw/
data/processed/
!data/raw/medical_readmissions.csv
datasets/
*.csv
*.parquet
notebooks/notebooks_model.md

# Models
models/
outputs/
*.h5
*.pkl
*.joblib

# Logs and temp
*.log
*.tmp
*.cache

